/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* Variable setting for easy changing */
:root {
    --main-bg-clr: #162521 /* 3f4d38 */;
    --light-clr: #eff9f0 /* f4f2d1 */;
    --special: #989fce /* d3df9a*/;
    --accent: #989fce /*f19b79 */;
    --main-font: 'DM Sans', sans-serif;
    --accent-font:'Lobster Two', cursive;
}

/* General element styling */
body {
    background-color: var(--main-bg-clr);
}

h1, h2 {
    font-family: var(--accent-font);
    font-weight: 400;
    color: var(--special);
    font-size: 2em;
    margin-bottom: 0.2em;
}

a {
    color: var(--light-clr);
    text-decoration: none;
    font-size: 1.2em;
}

button {
    background-color: var(--accent);
    border: none;
    max-width: 70%;
    min-height: 2em;
    color: white;
    font-weight: 300;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    align-self: center;
}

button:hover {
    animation:  grow 0.3s linear 0s infinite alternate;
    font-size: 110%;
    cursor: pointer;
}

button > a {
    color: white;
    font-size: 1em;
}

.special {
    font-family: var(--accent-font);
    color: var(--accent);
    font-size: 1.2em;
}

/* Animations */
@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}

/* About */
#about {
    padding: 2em 0 0 0;
}

#profile {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    max-width: 40vw;
    border-radius: 50%;
    box-shadow: -1.5em 0.8em;
    border: 2px dashed var(--light-clr);
    color: rgba(0, 0, 0, 0.3);  
}

#about > p {
    color: var(--light-clr);
    font-size: 1.5em;
    padding: 0 1em;
    text-align: center;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: var(--light-clr);
    padding: 2em 2em 0em 2em;
}

#portfolio > h2 {
    color: var(--main-bg-clr);
}

#portfolio > p:last-child {
    text-align: center;
    margin-top: 1em;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 1.5em 2em;
    padding: 2em;
    min-height: 19em;
    max-width: 17em;
    border-radius: 15% 15% 15% 0 ;
    box-shadow: -0.8em 0.8em;
    color: var(--main-bg-clr);
}

.twenty-two::before {
    content: "2022";
    animation: grow 0.5s linear 0s infinite alternate;
}
.twenty-one::before {
    content: "2021";
}

.twenty::before {
    content: "2020";
}

.nineteen::before {
    content: "2019";
}

.twenty-two::before,
.twenty-one::before,
.twenty::before,
.nineteen::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -2em;
    top: -2em;
    height: 4em;
    width: 4em;
    background-color: var(--main-bg-clr);
    border-radius: 50%;
    color: white;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    padding: 0em 2em 2em 2em;
}

#contact > p {
    color: var(--light-clr);
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0 0 0;
}

.socials > button {
    min-width: 40%;
    margin: 1em 0.5em 0.5em 0.5em;
}

/* SVGs */
.wave-light, .wave-dark {
    vertical-align: text-bottom;
}

.wave-light {
    background-color: var(--main-bg-clr);
    fill: var(--light-clr);
}

.wave-dark {
    background-color: var(--light-clr);
    fill: var(--main-bg-clr);
}

/* Desktop View */
@media (min-width: 750px) {

    nav {
        margin: 1em 5em;
    }

    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2em 6em 0em 6em;
    }

    #profile {
        display: block;
        margin: auto;
        margin-bottom: 2em;
        max-width: 25vw;
        border-radius: 50%;
        box-shadow: -1.5em 0.8em;
        border: 2px dashed var(--light-clr);
        color: rgba(0, 0, 0, 0.3);  
    }

    #about > p {
        color: var(--light-clr);
        font-size: 1.5em;
        padding: 0 2em;
        text-align: center;
    }

    .socials {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .socials > button {
        min-width: 25%;
        margin: 1em 2em 1em 2em;
    }

    #portfolio {
        padding: 2em 4em 0em 4em;
    }

    #projects {
        padding: 0 4em;
    }

    .project {
        margin: 2.5em 1.5em;
    }
    
}

/* Larger Desktop View */
@media (min-width: 1200px) {

    #about > p {
       max-width: 50%;
    }

    .socials > button {
        min-width: 15%;
        margin: 1em 2em 1em 2em;
    }

    #portfolio {
        padding: 2em 6em 0em 6em;
    }

    #projects {
        padding: 0 4em;
    }

    .project {
        margin: 2.5em 2em;
    }

    .socials {
        display: flex;
        flex-wrap: nowrap;
        justify-content:left;
    }
}