/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* Variable setting for easy changing */
:root {
    --main-bg-clr: #3f4d38;
    --light-clr: #f4f2d1;
    --accent: #f19b79;
    --special: #d3df9a;
    --main-font: 'DM Sans', sans-serif;
    --accent-font:'Lobster Two', cursive;
}

/* General element styling */
body {
    background-color: var(--main-bg-clr);
}

h1, h2 {
    font-family: var(--accent-font);
    font-weight: 400;
    color: var(--special);
    font-size: 2em;
}

a {
    color: var(--light-clr);
    text-decoration: none;
    font-size: 1.2em;
}

button {
    background-color: var(--accent);
    border: none;
    max-width: 70%;
    min-height: 2em;
    color: white;
    font-weight: 300;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    align-self: center;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 0 1em 0;
}

/* About */
#about {
    padding: 2em 0 3em 0;
}

#profile {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    max-width: 40vw;
    border-radius: 50%;
    box-shadow: -1.5em 0.5em;
    color: var(--accent);  
    /* background-color: var(--light-clr);
    padding: 0.5em;  to add border around img*/ 
}

#about > p {
    color: var(--light-clr);
    font-size: 1.5em;
    text-align: center;
}

#special {
    font-family: var(--accent-font);
    font-size: 1.3em;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: var(--light-clr);
    padding: 2em;
}

#portfolio > h2 {
    color: var(--main-bg-clr);
}

#portfolio > p:last-child {
    text-align: center;
    margin-top: 1em;
}

#projects {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 1.5em 1em;
    padding: 1.5em;
    min-height: 19em;
    max-width: 17em;
    border-radius: 15% 15% 15% 0 ;
    box-shadow: -0.8em 0.8em;
    color: var(--main-bg-clr);
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

#contact > p {
    color: var(--light-clr);
}

#contact > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact > section > button {
    min-width: 40%;
    margin: 1em 0.5em 0.5em 0.5em;
}